# Server
sv_hostname "Server Skabelon | 2021"
sv_scriptHookAllowed 0 # Sat til 0 så folk ikke kan bruge nogen cheats
sv_maxclients 32 # Max antal af spillere der kan være på din server :)

# Convars
set mysql_connection_string "server=127.0.0.1;database=vrpfx;userid=root;password="
set onesync on
set server_navn "Server Skabelon"
set server_navn_forkortelse "SS"

# Set/ Sets
sets tags "tag, tags, vrp"
sets locale "da-DK"

set voice_enableSubmix 1
set voice_enableProximity 1
set voice_syncData 1

# Banners
# sets banner_detail "https://url.to/image.png"
# sets banner_connecting "https://url.to/image.png"
