# Exec
exec keys.cfg
exec global_settings.cfg
exec resources.cfg

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:1100001140f1a2c group.admin # add the admin to the group ; Du skal ændre denne her fordi det er min steam.

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
